.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & h1 {
    margin-bottom: 0;
    font-size: 5.5rem;
    font-weight: bold;
    line-height: 1.125;
    letter-spacing: -0.02em;
    @apply mt-4;
  }

  & p {
    font-weight: lighter;
    text-align: center;
  }
}
.buttonContainer {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.heroImage {
  margin-left: auto;
  margin-right: auto;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageRootContainer {
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 2rem;
}

.featuresContainer {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  & > h2 {
    padding-left: 2px;
    font-weight: 500;
    font-size: x-large;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.featureContainer {
  text-align: left;
  border: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 1rem;
  background: #ffffff;
  & > h2 {
    padding-left: 2px;
    font-weight: bold;
    font-size: large;
    margin-top: auto;
    margin-bottom: auto;
  }
}
.featureDescription {
  color: #6c6c6c;
  font-size: medium;
  font-weight: 500 !important;
  font-size: medium;
}

.featureTitle {
  margin-bottom: 0.1rem;
}

@media screen and (max-width: 700px) {
  .featureContainer {
    width: calc(100% - 2em);
  }
  .heroContainer {
    & h1 {
      font-size: 4em;
    }
  }
}

@media screen and (max-width: 450px) {
  .heroContainer {
    & h1 {
      font-size: 3em;
    }
  }
}

.tag {
  font-weight: 400 !important;
  font-size: 1.3rem;
  @apply mt-4;
}

.work {
  font-size: xxx-large !important;
  @apply mt-6;
}
.gradientText {
  display: block;
  margin-top: 0;
  color: transparent;
  background-clip: text;
  // background-image: linear-gradient(to right, #3b82f6, #2dd4bf);
  -webkit-background-clip: text;
  text-align: center;
}
.gradientText2 {
  @extend .gradientText;
  display: unset;
}
