@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  list-style-type: unset;
}
ol {
  list-style-type: decimal;
}

body {
  background-color: #ffffff !important;
  color: #000814 !important;
}

.gradient-text {
  background: linear-gradient(90deg, #ffd60a 0%, #f90686 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

*:focus-visible {
  outline: none;
}
